.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
  }
  .navigation{
    margin: 0px 50px 75px 75px;
  }
  #buttons li {
    float: right;
    list-style: none;
    text-align: center;
    margin-right: 10px;
    width: 120px;
    line-height: 40px;
    text-decoration: none;
  }
  #buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
  }
  
  .nav-right {
    color: 0;
    font-size: 80px;
  }
  #buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
  }
  
  .navigation li {
    display: inline-block;
    margin-right: 36px;
    position: relative;
    text-decoration: none;
  }
  
  .nav-title {
    color: gold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
  }
  
  .container-splash {
    margin: auto;
    max-width: 70%;
    margin-top: 100px;
    text-align: center;
    color: white;
  }
  .btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    background-color: gold;
    color: white;
  }
  .top {
    background-color: aquamarine;
    background-image:  url("https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    min-height: 500px;
    background-size: cover;
  
  }
  .page-subtitle{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 60px;
  }
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .column {
    flex: 33.33%;
    padding: 20px 50px;
    background-color: white;
  }
  .title{
    justify-content: center;
    text-align: center;
    margin: 50px;
    padding: 30px;
  }
  .column p{
    text-align: center;
  }
  .title h2{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
  }
  .title h4{
    font-size: 20px;
    color: grey;
  }
  .fa-solid{
    color:gold;
    font-size: 50px;
  }
  .circle-icon {
    border: 4px solid gold;
    padding:25px;
    border-radius: 50%;
  }
  .container{
    max-width: 1140px;
    justify-content: center;
  }
  .portfolio{
    background-color:lightgrey;
    justify-content: center;
    text-align: center;
    padding: 30px;
  
  }
  .portfolio h4{
    font-size: 250x;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
  }
  .portfolio p{
    font-size: 16px;
    color:grey;
    margin-bottom: 20px;
  
  }
  .card img{
    width:  100%;
    height: 400px;
  }
  .card{
    border: none;
    margin-left: 10px;
    margin-top: 10px;
  }
  .foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
  .foot i {
    font-size: 20px;
    background: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    text-align: center;
  }
  .foot li{
    font-size:0;
    display: inline-block;
    margin: 5px;
  }
  .foot-p{
  line-height: 90px;
  }